In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Movies Dataset/Final_dataset.csv')

In [3]:
!pip install scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
vector=TfidfVectorizer(max_features=5000)

In [6]:
df

,Unnamed: 0,id,Title,Tags
0,0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...
4,4,949,Heat,"Obsessive master thief, Neil McCauley leads a ..."
...,...,...,...,...
8765,8765,430365,À bras ouverts,Jean-Étienne Fougerole is an intellectual bohe...
8766,8766,248705,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo..."
8767,8767,44918,Titanic II,On the 100th anniversary of the original voyag...
8768,8768,455661,In a Heartbeat,A closeted boy runs the risk of being outed by...
8769,8769,14008,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...

In [7]:
vectorized_data=vector.fit_transform(df['Tags'].values.astype('U'))

In [8]:
 vectorized_data

<8770x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 382398 stored elements in Compressed Sparse Row format>

In [9]:
vectorized_dataframe=pd.DataFrame(vectorized_data.toarray(),index=df['Tags'].index.tolist())

In [10]:
from sklearn.decomposition import TruncatedSVD

In [11]:
svd=TruncatedSVD(n_components=3000)

In [12]:
reduced_data=svd.fit_transform(vectorized_dataframe)

In [13]:
reduced_data.shape

(8770, 3000)

In [14]:
svd.explained_variance_ratio_.cumsum()

array([0.00488781, 0.0118806 , 0.0175972 , ..., 0.92329477, 0.9233665 ,
       0.92343805])

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
similarity=cosine_similarity(reduced_data)

In [17]:
df

,Unnamed: 0,id,Title,Tags
0,0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...
4,4,949,Heat,"Obsessive master thief, Neil McCauley leads a ..."
...,...,...,...,...
8765,8765,430365,À bras ouverts,Jean-Étienne Fougerole is an intellectual bohe...
8766,8766,248705,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo..."
8767,8767,44918,Titanic II,On the 100th anniversary of the original voyag...
8768,8768,455661,In a Heartbeat,A closeted boy runs the risk of being outed by...
8769,8769,14008,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...

In [42]:
def Recomendations(Movie_name):
  id_of_movie=df[df['Title']==Movie_name].index[0]
  distances=similarity(id_of_movie.astype('U'))
  Movie_list=sorted(list(enumerate(distances)),reverse=True, key=lambda x: x[1])[1:10]

  for i in Movie_list:
    print(df.iloc[i[0]].title)

In [40]:
def Recomendations1(Movie_name):
  id_of_movie=df[df['Title']==Movie_name].index[0]
  distances=similarity(id_of_movie)
  #Movie_list=sorted(list(enumerate(distance)),reverse=True, key=lambda x: x[1])[1:10]
  print(distances)
  #for i in Movie_list:
   # print(df.iloc[i[0]].title)

In [43]:
Recomendations("The Matrix")

TypeError: ignored